// the main color palette

$primary-color: #975215;
$secondary-color: #751a11;
$dark-color: #290300;
$light-color: #f4ecf5;
$accent-color: #f4ecf5;

// General color 
$success-color: #5CB85C;
$warning-color: #f0ad4e;
$error-color: #D9534F;

// sizes & width
$content-width: 1100px;
$sm: 16px;
$md: 24px;
$lg: 32px;
$hg: 50px; 

